<!-- Overlay -->
<div class="fixed inset-0 bg-neutral-900/80 flex items-center justify-center z-50 p-4">

  <!-- Confetti Layer -->
  <div class="absolute inset-0 pointer-events-none overflow-hidden">
    <span *ngFor="let i of confetti" class="absolute w-2 h-4 rounded-sm animate-confetti" [ngStyle]="{
        left: i.x + '%',
        animationDelay: i.delay + 's',
        backgroundColor: i.color
      }"></span>
  </div>

  <!-- Main Card Container -->
  <div class="relative w-full max-w-5xl mx-auto">

    <!-- Card with Cloud Background -->
    <div
      class="rounded-3xl shadow-2xl overflow-visible relative z-10 min-h-[500px] flex flex-col md:flex-row bg-cover bg-center bg-no-repeat"
      style="background-image: url('/modalBackground.svg');">

      <!-- Left Content Section -->
      <div class="px-12 py-6 flex flex-col z-20 w-full mt-5">

        <p class="text-4xl md:text-4xl text-[#000000] font-medium mb-4">
          Congratulations to
        </p>

        <!-- IndiGo Logo -->
        <img [src]="assets.logo" alt="IndiGo" class="h-12 w-auto object-contain mb-8 self-start" />

        <!-- Flight Info -->
        <div class="flex flex-wrap items-center gap-4 mb-8">
          <h2 class="text-5xl md:text-6xl font-bold text-slate-900 tracking-tight">{{ assets.flightCode }}</h2>
          <div class="">
            <img src="/small plane.svg" alt="IndiGo" class="h-12 w-15 object-contain self-start" />
          </div>
        </div>

        <!-- Route Box -->
        <div
          class="inline-flex items-center bg-gray-50/80 backdrop-blur-sm border border-gray-100 rounded-2xl p-4 gap-6 mb-8 shadow-sm w-fit">
          <div class="text-center">
          <span class="block text-3xl font-bold text-slate-900">{{ route.origin }}</span>
          <span class="block text-xs text-[#4C596C] font-medium uppercase tracking-wide text-left">
  {{ route.originCity }}
</span>
          </div>

          <div class="text-purple-600 rotate-90 md:rotate-0">
            <img src="/Vector.svg" alt="IndiGo" class="h-8 w-8 object-contain self-start" />
          </div>

          <div class="text-center">
          <span class="block text-3xl font-bold text-slate-900">{{ route.dest }}</span>
          <span class="block text-xs text-[#4C596C] font-medium uppercase tracking-wide">{{ route.destCity }}</span>
          </div>
        </div>
        <img src="/Adani Wave.svg" alt="" class="absolute left-0 top-[160px] w-[112%] pointer-events-none -z-50" />

        <!-- Description Text -->
        <h1 class="text-4xl leading-tight text-[#2B2B2B] font-medium mb-6">
  and the arriving Passengers & Crew<br />
  on their 1st flight to<br />
  <span class="font-semibold">Navi Mumbai International Airport</span>
</h1>


       <div class="flex justify-end ">
  <p class="text-[#7027A0] font-semibold text-2xl ">
    Here’s to many more journeys together!!
  </p>
</div>
      </div>

      <div class="hidden md:block absolute top-10 right-[-170px] w-[850px]  pointer-events-none z-30">
        <img [src]="assets.plane" alt="Airplane" class="w-full" />
      </div>


    </div>


  </div>
</div>